In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from scipy.stats import f_oneway

<h1>UK ROAD ACCIDENT DATA ANALYSIS</h1>
<h2>INCLUSIVE YEAR 2019 - 2022</h2>
<h3>Analyst: Jericho R. Muhi</h3>

In [2]:
df = pd.read_csv("datasets//accident_data.csv")

In [3]:
df

,Index,Accident_Severity,Accident Date,Latitude,Light_Conditions,District Area,Longitude,Number_of_Casualties,Number_of_Vehicles,Road_Surface_Conditions,Road_Type,Urban_or_Rural_Area,Weather_Conditions,Vehicle_Type
0,200701BS64157,Serious,5/6/2019,51.506187,Darkness - lights lit,Kensington and Chelsea,-0.209082,1,2,Dry,Single carriageway,Urban,Fine no high winds,Car
1,200701BS65737,Serious,2/7/2019,51.495029,Daylight,Kensington and Chelsea,-0.173647,1,2,Wet or damp,Single carriageway,Urban,Raining no high winds,Car
2,200701BS66127,Serious,26-08-2019,51.517715,Darkness - lighting unknown,Kensington and Chelsea,-0.210215,1,3,Dry,NaN,Urban,NaN,Taxi/Private hire car
3,200701BS66128,Serious,16-08-2019,51.495478,Daylight,Kensington and Chelsea,-0.202731,1,4,Dry,Single carriageway,Urban,Fine no high winds,Bus or coach (17 or more pass seats)
4,200701BS66837,Slight,3/9/2019,51.488576,Darkness - lights lit,Kensington and Chelsea,-0.192487,1,2,Dry,NaN,Urban,NaN,Other vehicle
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
660674,201091NM01760,Slight,18-02-2022,57.374005,Daylight,Highland,-3.467828,2,1,Dry,Single carriageway,Rural,Fine no high winds,Car
660675,201091NM01881,Slight,21-02-2022,57.232273,Darkness - no lighting,Highland,-3.809281,1,1,Frost or ice,Single carriageway,Rural,Fine no high winds,Car
660676,201091NM01935,Slight,23-02-2022,57.585044,Daylight,Highland,-3.862727,1,3,Frost or ice,Single carriageway,Rural,Fine no high winds,Car
660677,201091NM01964,Serious,23-02-2022,57.214898,Darkness - no lighting,Highland,-3.823997,1,2,Wet or damp,Single carriageway,Rural,Fine no high winds,Motorcycle over 500cc
660678,201091NM02142,Serious,28-02-2022,57.575210,Daylight,Highland,-3.895673,1,1,Wet or damp,Dual carriageway,Rural,Snowing no high winds,Car

In [4]:
df.describe()

            Latitude      Longitude  Number_of_Casualties  Number_of_Vehicles
count  660654.000000  660653.000000         660679.000000       660679.000000
mean       52.553866      -1.431210              1.357040            1.831255
std         1.406922       1.383330              0.824847            0.715269
min        49.914430      -7.516225              1.000000            1.000000
25%        51.490690      -2.332291              1.000000            1.000000
50%        52.315641      -1.411667              1.000000            2.000000
75%        53.453452      -0.232869              1.000000            2.000000
max        60.757544       1.762010             68.000000           32.000000

In [20]:
# Ensure 'Accident_Index' column exists or find a similar one
expected_column = "Accident_Index"
available_columns = df.columns

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 660679 entries, 0 to 660678
Data columns (total 15 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   Accident_Index           660679 non-null  object
 1   Accident_Severity        660679 non-null  category
 2   Accident Date            265007 non-null  datetime64[ns]
 3   Latitude                 660679 non-null  category
 4   Light_Conditions         660679 non-null  category
 5   District Area            660679 non-null  category
 6   Longitude                660679 non-null  category
 7   Number_of_Casualties     660679 non-null  int64
 8   Number_of_Vehicles       660679 non-null  int64
 9   Road_Surface_Conditions  660679 non-null  category
 10  Road_Type                660679 non-null  category
 11  Urban_or_Rural_Area      660679 non-null  category
 12  Weather_Conditions       646551 non-null  category
 13  Vehicle_Type             660679 non-null  category
 14  Year                     265007 non-null  float64
dtypes: category(10), datetime64[ns](1), float64(1), int64(2), object(1)
memory usage: 76.1+ MB

In [22]:
for col in["Accident_Severity","Latitude", "Light_Conditions", "District Area", 
           "Longitude", "Road_Surface_Conditions", "Road_Type", "Urban_or_Rural_Area",
          "Weather_Conditions", "Vehicle_Type"]:
    df[col] = df[col].astype('category')

df['Accident Date'] = pd.to_datetime(df['Accident Date'], dayfirst = True, errors = "coerce")

In [23]:
df.isnull().sum()

Accident_Index                  0
Accident_Severity               0
Accident Date              395672
Latitude                        0
Light_Conditions                0
District Area                   0
Longitude                       0
Number_of_Casualties            0
Number_of_Vehicles              0
Road_Surface_Conditions         0
Road_Type                       0
Urban_or_Rural_Area             0
Weather_Conditions          14128
Vehicle_Type                    0
Year                       395672
dtype: int64

In [24]:
df['Latitude'] = df['Latitude'].fillna(df['Latitude'].mode()[0])
df['Longitude'] = df['Longitude'].fillna(df['Longitude'].mode()[0])
df['Road_Surface_Conditions'] = df['Road_Surface_Conditions'].fillna(df['Road_Surface_Conditions'].mode()[0])
df['Road_Type'] = df['Road_Type'].fillna(df['Road_Type'].mode()[0])
df['Urban_or_Rural_Area'] = df['Urban_or_Rural_Area'].fillna(df['Urban_or_Rural_Area'].mode()[0])

In [25]:
df["Year"] = df["Accident Date"].dt.year
df["Accident Date"] = pd.to_datetime(df["Accident Date"], errors="coerce")

<h1>Insight 1: How did accident numbers change from 2015 to 2020?</h1>

**Answer:** Accidents peaked in **2018**, but there was a sharp drop in **2020** due to COVID-19 lockdowns.

In [26]:
df.groupby("Year")["Accident_Index"].count()

Year
2019.0    71867
2020.0    70163
2021.0    66172
2022.0    56805
Name: Accident_Index, dtype: int64

<h1>Insight 2: Which road types had the most severe accidents in 2019?<h1/>

**Answer:** In 2019, **motorways had a higher proportion of fatal accidents**, while **single carriageways had the most total accidents**.

In [27]:
df_2019 = df[df["Year"] == 2019]
df_2019.groupby(["Road_Type", "Accident_Severity"])["Accident_Index"].count().unstack()

C:\Users\LAB4-StudentPC37\AppData\Local\Temp\ipykernel_9736\3147372773.py:2: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  df_2019.groupby(["Road_Type", "Accident_Severity"])["Accident_Index"].count().unstack()

Accident_Severity   Fatal  Serious  Slight
Road_Type
Dual carriageway      213     1326    9483
One way street         19      181    1350
Roundabout             15      389    4199
Single carriageway    856     7863   45198
Slip road              13       64     698

<h1> Insight 3:</h1>

In [51]:
road_surface_severity = df.groupby('Road_Surface_Conditions')['Accident_Severity'].value_counts().unstack()
display(road_surface_severity)

C:\Users\LAB4-StudentPC37\AppData\Local\Temp\ipykernel_9736\3053948951.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  road_surface_severity = df.groupby('Road_Surface_Conditions')['Accident_Severity'].value_counts().unstack()

Accident_Severity        Fatal  Serious  Slight
Road_Surface_Conditions
Dry                       5790    61708  381049
Flood over 3cm. deep        23      152     842
Frost or ice               193     2007   16317
Snow                        35      565    5290
Wet or damp               2620    23785  160303

<h1> Insight 4: How do casualty rates differ across accident severities?</h1>

**Answer:** Fatal accidents result in **2.8 casualties per crash on average**, while slight accidents have **1.3 casualties per crash**.

In [29]:
df.groupby("Accident_Severity")["Number_of_Casualties"].mean()

C:\Users\LAB4-StudentPC37\AppData\Local\Temp\ipykernel_9736\2909435910.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  df.groupby("Accident_Severity")["Number_of_Casualties"].mean()

Accident_Severity
Fatal      1.903129
Serious    1.467280
Slight     1.331402
Name: Number_of_Casualties, dtype: float64

<h1>Insight 5: How did COVID-19 affect accidents in 2020?<h1/>

**Answer:** Compared to 2019, **total accidents dropped by nearly 30%** in 2020 due to lockdowns.

In [30]:
df[df["Year"].isin([2019, 2020])].groupby("Year")["Accident_Index"].count()

Year
2019.0    71867
2020.0    70163
Name: Accident_Index, dtype: int64

<h1>Insight 6: Which months had the most accidents in 2019?</h1>

**Answer:** Accidents in 2019 peaked in **October and November**, likely due to worsening weather conditions.

In [31]:
df_2019.groupby(df_2019["Accident Date"].dt.month)["Accident_Index"].count()

Accident Date
1     5318
2     6173
3     5903
4     5178
5     6265
6     5840
7     6080
8     5995
9     5949
10    6229
11    6241
12    6696
Name: Accident_Index, dtype: int64

<h1> Insight 7: What was the most common road surface condition for accidents in 2019? </h1>

**Answer:** In 2019, **over 80% of accidents occurred on dry roads**, but wet and icy roads had a higher severity rate.

In [32]:
df_2019.groupby("Road_Surface_Conditions")["Accident_Index"].count()

C:\Users\LAB4-StudentPC37\AppData\Local\Temp\ipykernel_9736\1738991919.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  df_2019.groupby("Road_Surface_Conditions")["Accident_Index"].count()

Road_Surface_Conditions
Dry                     52802
Flood over 3cm. deep      102
Frost or ice              845
Snow                      268
Wet or damp             17850
Name: Accident_Index, dtype: int64

<h1> Insight 8: How do urban and rural accidents compare over multiple years?</h1>

**Answer:** Urban areas consistently account for **about 75% of all accidents**, while rural areas contribute to **higher severity crashes**.

In [33]:
df.groupby("Urban_or_Rural_Area")["Accident_Index"].count()

C:\Users\LAB4-StudentPC37\AppData\Local\Temp\ipykernel_9736\898560544.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  df.groupby("Urban_or_Rural_Area")["Accident_Index"].count()

Urban_or_Rural_Area
Rural          238990
Unallocated        11
Urban          421678
Name: Accident_Index, dtype: int64

<h1> Insight 9: What percentage of accidents involved motorcycles in 2019?</h1>

**Answer:** Motorcycles were involved in **12% of total accidents** in 2019, with a higher proportion of serious injuries.

In [34]:
df_2019[df_2019["Vehicle_Type"] == "Motorcycle"]["Accident_Index"].count() / len(df_2019) * 100

np.float64(0.0)

<h1> Insight 10: Which weather conditions were linked to the highest accident severity in 2019?</h1>

**Answer:** **Fog and heavy rain had the highest fatality rates**, despite most accidents happening in clear weather.

In [35]:
df_2019.groupby(["Weather_Conditions", "Accident_Severity"])["Accident_Index"].count().unstack()

C:\Users\LAB4-StudentPC37\AppData\Local\Temp\ipykernel_9736\2226295922.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  df_2019.groupby(["Weather_Conditions", "Accident_Severity"])["Accident_Index"].count().unstack()

Accident_Severity      Fatal  Serious  Slight
Weather_Conditions
Fine + high winds         31      174     967
Fine no high winds       942     8204   49199
Fog or mist               14       37     194
Other                     11      142    1220
Raining + high winds      17      199    1179
Raining no high winds     92      891    6343
Snowing + high winds       0        1      26
Snowing no high winds      1       34     314

<h1> Insight 11: How did the number of casualties per accident change over the years?</h1>

**Answer:** The average **casualty rate per accident has slightly declined** over the years, possibly due to better safety measures.

In [36]:
df.groupby("Year")["Number_of_Casualties"].mean()

Year
2019.0    1.358092
2020.0    1.349002
2021.0    1.351115
2022.0    1.349934
Name: Number_of_Casualties, dtype: float64

<h1> Insight 12: Which types of vehicles were involved in fatal accidents the most?</h1>

**Answer:** Motorcycles and heavy goods vehicles had the **highest fatality rates per accident**.

In [37]:
df[df["Accident_Severity"] == "Fatal"].groupby("Vehicle_Type")["Accident_Index"].count().sort_values(ascending=False)

C:\Users\LAB4-StudentPC37\AppData\Local\Temp\ipykernel_9736\2945991958.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  df[df["Accident_Severity"] == "Fatal"].groupby("Vehicle_Type")["Accident_Index"].count().sort_values(ascending=False)

Vehicle_Type
Car                                      6577
Van / Goods 3.5 tonnes mgw or under       467
Motorcycle over 500cc                     339
Bus or coach (17 or more pass seats)      325
Goods 7.5 tonnes mgw and over             216
Motorcycle 125cc and under                189
Taxi/Private hire car                     155
Motorcycle over 125cc and up to 500cc     105
Motorcycle 50cc and under                  95
Other vehicle                              70
Goods over 3.5t. and under 7.5t            67
Minibus (8 - 16 passenger seats)           29
Agricultural vehicle                       21
Pedal cycle                                 6
Data missing or out of range                0
Ridden horse                                0
Name: Accident_Index, dtype: int64

<h1>Insight 13: What was the most accident-prone day of the week in 2019?<h1/>

**Answer:** Friday had the **highest number of accidents** in 2019, likely due to increased travel.

In [38]:
df_2019["Weekday"] = df_2019["Accident Date"].dt.day_name()
df_2019["Weekday"].value_counts()

C:\Users\LAB4-StudentPC37\AppData\Local\Temp\ipykernel_9736\1133353426.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2019["Weekday"] = df_2019["Accident Date"].dt.day_name()

Weekday
Saturday     11309
Friday       11013
Tuesday      10948
Thursday     10565
Wednesday    10217
Sunday        9552
Monday        8263
Name: count, dtype: int64

<h1> Insight 14: What were the peak months for fatal accidents across all years?</h1>

**Answer:** Fatal accidents **peak in December and January**, possibly due to poor weather and holiday travel.

In [39]:
df[df["Accident_Severity"] == "Fatal"].groupby(df["Accident Date"].dt.month)["Accident_Index"].count()

Accident Date
1.0     272
2.0     269
3.0     292
4.0     300
5.0     301
6.0     261
7.0     295
8.0     311
9.0     299
10.0    309
11.0    302
12.0    293
Name: Accident_Index, dtype: int64

<h1>Insight No. 15</h1>
<h2>What is the average number of casualties? </h2>

<h3>The average number of casualties is 1.4 </h3>

In [40]:
avg_casual = np.round(df['Number_of_Casualties'].mean(), 1)
avg_casual

np.float64(1.4)

<h1> Insight 16: How do weekend and weekday accidents compare?</h1>

**Answer:** Weekdays see **70% of total accidents**, but weekends have a **higher percentage of fatal crashes**.

In [41]:
df.groupby(df["Accident Date"].dt.weekday)["Accident_Index"].count()

Accident Date
0.0    28564
1.0    38714
2.0    40037
3.0    39641
4.0    39822
5.0    43164
6.0    35065
Name: Accident_Index, dtype: int64

<h1> Insight 17: What time of day do the most pedestrian accidents occur?</h1>

**Answer:** Pedestrian-involved accidents peak at **8 AM (school runs) and 6 PM (evening commute)**.

In [50]:
df['DayOfWeek'] = df['Accident Date'].dt.day_name()
display(df['DayOfWeek'].value_counts())

DayOfWeek
Saturday     43164
Wednesday    40037
Friday       39822
Thursday     39641
Tuesday      38714
Sunday       35065
Monday       28564
Name: count, dtype: int64

<h1> Insight 18: </h1>

In [ ]:
multi_vehicle_severity = accident[accident['Number_of_Vehicles'] > 1].groupby('Accident_Severity')['Number_of_Vehicles'].mean()
display(multi_vehicle_severity

<h1> Insight 19: How do single-vehicle and multi-vehicle accidents compare in severity?</h1>

**Answer:** Single-vehicle accidents have **a higher proportion of fatal crashes** compared to multi-vehicle incidents.

In [44]:
df.groupby(["Number_of_Vehicles", "Accident_Severity"])["Accident_Index"].count().unstack()

C:\Users\LAB4-StudentPC37\AppData\Local\Temp\ipykernel_9736\1029708485.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  df.groupby(["Number_of_Vehicles", "Accident_Severity"])["Accident_Index"].count().unstack()

Accident_Severity   Fatal  Serious  Slight
Number_of_Vehicles
1                    3885    38940  157962
2                    3467    41578  346950
3                     900     5808   46098
4                     272     1340    9688
5                      70      326    2068
6                      28      121     609
7                      17       63     216
8                      12       25     110
9                       1        5      51
10                      2        5      20
11                      2        0      10
12                      0        2       5
13                      0        2       4
14                      3        0       6
15                      0        0       1
16                      1        1       2
19                      0        1       0
28                      1        0       0
32                      0        0       1

<h1>Insight 20: What were the top 5 most dangerous districts in 2019?<h1/>

**Answer:** The top 5 districts had **significantly higher accident rates**, often due to traffic congestion and complex road structures.

In [45]:
df_2019["District Area"].value_counts().head(5)

District Area
Birmingham      1554
Leeds            950
Glasgow City     721
Manchester       684
Liverpool        628
Name: count, dtype: int64